/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;700&display=swap');

*{
	text-align: center;
	margin:auto; 
	padding:0;
	border:0;
	
}
@media only screen and (min-width:600px) {

#About,Blog,Photography,Contact,social{
/*height: 800px;*/
	
	padding: 80px;
/*	border:2px solid #343a40;*/
}
main{
	width: 100%;
/*	margin-right: 20%;*/

/*	border:2px solid #343a40;*/
}
h2{
	padding:7px;
    color:white;
	width: 30%;
	background: #343a40;
}

form{
	width: 60%;
   fieldset:2px;

}

img{ width: 100%;
}
a {
	padding: 20px;
	color:white;
}

nav, footer {
	color: white;
	background-color: #343a40;
	padding:20px;
	
}
 img{
/*	display:block;*/
	
	width:100%; 
	height:auto;  
}
nav {
	z-index: 1;
	width:100%; 
	position:fixed; 
/*	margin:auto;*/
/*	make the navbar fiexd */
/*	padding-bottom:30px;*/
	padding-top:30px;

/*	background-color:white; */
	
	
}

nav ul{ 
float:auto;
}

nav ul li {
	display:inline;
	padding-right: 40px;
	padding-bottom: 15px;

}
nav ul li a {
	text-decoration: none; 
	font-weight:bold; 
	font-size:18px;
	color:white; 
	padding-bottom: 15px;
}
nav a:hover{ 
color:lightsteelblue;
font-size:24px;}


/*مبالغة*/
body{ 
width:100%; 
display:block; 
margin:0 auto;
font-family: 'Be Vietnam Pro', sans-serif;
}

#main table{ 
	width:85%;
	margin:0 auto;
	padding:100px 50px 100px 50px;
}
table td { 
padding:20px;}

header { 
	height:100%;
}

#main {
	width:100%;
/*	background-color:lightgrey;*/
	height:auto;}

#about, #contact { 
width:100%;
margin:0 auto;
/*height:800px;*/
/*padding:70px 50px 100px 50px;*/
}
#Blog,Photography{
	margin:80%; 
}
p { 
	float:none; 
	padding:auto;
	line-height:30px;
	text-align: left;
}

h2{
	padding-auto:100px;
	color:white;
	font-style:900pt;
}

#about img {
	
	width:100%;
}
	h3,p{position:relative;
		
}

#cv{
	
	font-size: 16pt;
	font-weight: 400;
	color:#343a40;
	    border-radius: 6px;

}

#cv a{
	text-decoration: none;
	color:black;
}
/*مبالغة*/
	
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 50%;
  background-color:#343a40;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:#A5CDDA;
}

form {
width:40%;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:auto;
  clear:both;
}

textarea {
	width:100%; 
	height:80px;
}

#social { 
padding:auto;
margin-bottom:auto;
}

#social h3 {
	padding:0 0 20px 0;
	
}
#social a { 
color:black; 
padding:auto;
text-decoration:none;
}
#social a:hover{
	color:#A5CDDA;
}

#table{
	align-content: center;
	margin:10%;
}
/*
header img{ 
	margin-top:30px;
}
*/

/*
#ww{ 
	
	display:block; 
	width:100%; 
	margin:10%;
	 	max-width: 100%;
	msx-height:100%;
*/
/*}*/
nav img{
	display:block; 
	width:15%; 
	padding:3px;
	
	margin:3px 3px 3px 3px;
}
#lol{
/*	display: inline;*/
	margin:-2%;
/*	color: white;*/
	background-color: #343a40;
	width: 100%;
/*	padding:100px 0px 0px 0px;*/
	position: relative;
	padding:1%;
/*	top: -310px;*/
/*	position: up;*/
}
/*
img{border-left-width: inherit;
	max-width: 100%;
	msx-height:100%;
}
*/
p,h2{
	font-size: 20px;
}

/*
tr,td{
	display: inline;
	padding: 90%;
	width: 100%;
}
*/
/*
#ِAbout img{
	width: 100%;
	padding-left: 30%;
*/

section2{

}

#about-container img{
}

#about-container p{

}

#about-container {
	display:flex;
		 justify-content:space-around;
		flex-direction: row;

	gap:40px;

}
#about-text-container{
	padding-right: 70px;

}

#Contact p{
	text-align: center;
}

container{
	margin:30%;
	width: 80%;
	position: relative;
	top: -310px;
	
}

#Blog{
	background-image:url("imag/1x/Asset 7.png");
	background-repeat: no-repeat;
		background-position: center;
	background-attachment:fixed;
	background-size:auto;	
}

header img{
	margin-top: 70px;
}
}
@media only screen and (max-width:600px){
	
	header {height:auto;}
	nav {
	width:100%; 
	position:relative; 
	padding:0px;
	background-color:white;
	padding-top: 10px;
}
}
	
@media only screen and (max-width:800px){
	#header-image {
		display:none;
	}
	}

nav ul{ 
float:none;
}

nav ul li {
	display:block;
	padding-right: 0px;
	padding-bottom:10px;
	text-align:end;
	border-bottom: solid 0.5px grey;
}
nav ul li a {
	text-decoration: none; 
	font-weight:bold; 
	font-size:20px;
	color:black; 
}
	
body{ 
width:100%; 
display:block; 
margin:0 auto;
font-family: 'Be Vietnam Pro', sans-serif;
}

header img { 
	display:block; 
	width:100%;
	height: auto;
	margin:0 auto;
	padding: 50px 0 50px 0;
	 
}
	
#main {
	width:100%;
	background-color:lightgrey;
	height:auto;
}
	

#main table td { 
display:inline;
width: 100%;
	
}
	
#main table td img { 
display:block;
width: 85%;
margin: 0 auto;
height: auto;
padding-top: 50px;	
}

#main table { 
width: 100%;
margin: 0 auto;
padding: 50px 50px;	
}
	
	
	

#about img {display: none;}
#about, #contact {
		width: 100%;
		height: auto;
	float: left;
		}

	
p { 
	float:none; 
	width: 65%; 
	line-height:25px;
	font-size: 10pt;
	text-align: left;
}

h1{
	padding-bottom:20px;
	color:black;
}
	
	#contact form {
	display:none;	
	}
	
	#social h3{ 
	display:none;		
	}
	
	#social {
	text-align: center;
	padding: 50px 50px;
	}
	
	#social a {
	color: black;
	text-decoration: none;
	padding-right: 10px;
	}
	
	
footer {
	text-align:center; 
	width:100%; 
	clear:both;
	padding-bottom: 30px;
}

#about-text-container {
}
	
	
	
	

#main table td { 
display:inline;
width: 100%;
	
}
	
#main table td img { 
display:block;
width: 85%;
margin: 0 auto;
height: auto;
padding-top: 50px;	
}

#main table { 
width: 100%;
margin: 0 auto;
padding: 50px 50px;	
}
	
	
	

#about img {display: none;}
#about, #contact {
		width: 90%;
		height: auto;
		padding: 50px 20px 10px 20px;}

	
p { 
		clear:right; 

		line-height:25px;

	font-size: 15pt;
	text-align: left;

}

#cv{
	
	font-size: 16pt;
	font-weight: 400;
	color:#343a40;
	    border-radius: 6px;

}

#cv a{
	text-decoration: none;
	color:black;}

	
	
	
form {
width:40%;
  border-radius: 20px;
  background-color: #f2f2f2;
  padding: 20px;
  margin:auto;
  clear:both;
}

textarea {
	width:100%; 
	height:80px;
}

#social { 
padding:auto;
margin-bottom:auto;
}

#social h3 {
	padding:0 0 20px 0;
	
}
#social a { 
color:black; 
padding:auto;
text-decoration:none;
}
#social a:hover{
	color:#A5CDDA;
}

#table{
	align-content: center;
	margin:10%;
}
	
	
	
	
	
	
	
	
	
	
	
	
	


.responsive {
  width: 100%;
  height: auto;
}
.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
/*
.column {
  -ms-flex: 25%;  IE10 
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
*/

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.column a {
	padding: 0;
}

.submit-button{
	 animation-name: example;
  animation-duration: 3s;  
  animation-delay: 2s;
  animation-fill-mode: both;
	  animation-iteration-count: infinite;

}

@keyframes example {
  from {
	  width: 30%;
	  background-color:aqua;
	}
  to {
	  top: 50%; background-color: #343a40;
	}
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #343a40; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

